/* custom font face(s) */
/* regular (non-italic) variable font face */
@font-face {
    font-family: "Inter";
    font-style: normal;
    src: url("../../public/fonts/Inter/InterVariable.woff2") format("woff2");

    /* range of weights, i used this cool tool: https://wakamaifondue.com */
    font-weight: 100 900;

    /* if font cannot load, fallback to system font */
    font-display: swap;
}

/* italic variable font face */
@font-face {
    font-family: "Inter";
    font-style: italic;
    src: url("../../public/fonts/Inter/InterVariable-Italic.woff2") format("woff2");

    /* range of weights, i used this cool tool: https://wakamaifondue.com */
    font-weight: 100 900;

    /* if font cannot load, fallback to system font */
    font-display: swap;
}

a {
  font-weight: 500;
  color: #2563eb;
  text-decoration: none;
}

a:hover {
  color: #1a4dc4;
}

button {
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #2563eb;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #1e4cc3;
}

button:focus {
  outline: none;
}
