.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .spacer {
        flex: 1;
    }

    button {
        display: flex;
        flex-grow: 0;
        align-items: center;
        justify-content: space-between;
        gap: 0.5em;
        padding: 0.5em 0.75em;
    }
}