.auth-container {
    height: 100vh;                    
    display: flex;
    justify-content: center;          
    align-items: center;              
   
    border: 1px solid red;
  }
  
  .auth-box {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
   border: 1px solid red;
  }
  
  .auth-tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .auth-tabs button {
    flex: 1;
    padding: 10px 0;
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    color: #555;
    font-weight: 500;
  }
  
  .auth-tabs .active {
    border-bottom: 2px solid #2563eb;
    color: #2563eb;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .auth-form input {
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
  }
  
  .submit-btn {
    margin-top: 10px;
    padding: 10px 0;
    background-color: black;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .submit-btn:hover {
    background-color: #1e50c0;
  }
  