.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fb;
}

.auth-content {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth-tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.auth-tabs button {
  flex: 1;
  padding: 12px 0;
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  color: #555;
  font-weight: 500;
  transition: 0.2s;
}

.auth-tabs .active {
  border-bottom: 3px solid #2563eb;
  color: #2563eb;
  font-weight: 600;
}

.auth-box {
  background: white;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  min-height: 300px; /* added to keep consistent height */
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.auth-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth-form input {
  padding: 12px 14px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.submit-btn {
  margin-top: 12px;
  padding: 12px;
  background-color: #2563eb;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.submit-btn:hover {
  background-color: #1a47c8;
}

.auth-error {
  color: red;
  font-size: 0.9rem;
  margin-top: -8px;
  margin-bottom: 8px;
}
